<a href="https://ibb.co/bY8o5A"><img src="https://preview.ibb.co/gKcRsq/1-e-VZy-KIc-UXOfz-Pr-MTGx7y-Vw.png" alt="1-e-VZy-KIc-UXOfz-Pr-MTGx7y-Vw" border="0"></a>

<p><span style="color: #fd7272;">Data cleaning is one of the data analysis life cycle processes. It takes the highest time during this life cycle.</span><br /><span style="color: #fd7272;">to be sure my data is cleaned I walk through many steps:</span></p>
<ul style="list-style-type: square;">
<li><span style="color: #333333;">Drop unnecessary columns.</span></li>
<li><span style="color: #333333;">Drop unnecessary rows.</span></li>
<li><span style="color: #333333;">Rename the column names.</span></li>
<li><span style="color: #333333;">Check data type.</span></li>
<li><span style="color: #333333;">Drop&nbsp;duplicated rows.</span></li>
<li><span style="color: #333333;">Dealing with missing data.</span></li>
</ul>

In [1]:
#import the data
import pandas as pd
import numpy as np
data = pd.read_excel("data.xls")

In [2]:
#first 5 rows 
data.head()

,country,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect,Confidence in national government,Democratic Quality,Delivery Quality,Standard deviation of ladder by country-year,Standard deviation/Mean of ladder by country-year,GINI index (World Bank estimate),"GINI index (World Bank estimate), average 2000-15","gini of household income reported in Gallup, by wp5-year"
0,Afghanistan,2008,3.723590,7.168690,0.450662,49.209663,0.718114,0.181819,0.881686,0.517637,0.258195,0.612072,-1.929690,-1.655084,1.774662,0.476600,NaN,NaN,NaN
1,Afghanistan,2009,4.401778,7.333790,0.552308,49.624432,0.678896,0.203614,0.850035,0.583926,0.237092,0.611545,-2.044093,-1.635025,1.722688,0.391362,NaN,NaN,0.441906
2,Afghanistan,2010,4.758381,7.386629,0.539075,50.008961,0.600127,0.137630,0.706766,0.618265,0.275324,0.299357,-1.991810,-1.617176,1.878622,0.394803,NaN,NaN,0.327318
3,Afghanistan,2011,3.831719,7.415019,0.521104,50.367298,0.495901,0.175329,0.731109,0.611387,0.267175,0.307386,-1.919018,-1.616221,1.785360,0.465942,NaN,NaN,0.336764
4,Afghanistan,2012,3.782938,7.517126,0.520637,50.709263,0.530935,0.247159,0.775620,0.710385,0.267919,0.435440,-1.842996,-1.404078,1.798283,0.475367,NaN,NaN,0.344540

In [3]:
# Drop unnecessary columns
data.drop(['Confidence in national government','Democratic Quality','Delivery Quality'
           ,'Standard deviation of ladder by country-year','Standard deviation/Mean of ladder by country-year','Generosity'
          ,'GINI index (World Bank estimate)','GINI index (World Bank estimate)','Perceptions of corruption','Freedom to make life choices'
          ,'gini of household income reported in Gallup, by wp5-year','GINI index (World Bank estimate), average 2000-15'], axis=1,inplace=True)

In [4]:
# Drop unnecessary rows.
# I take a subset of 10 year 
data = data.query("year >=2008 and year<2018")

In [6]:
# Rename the column names.
data.rename(columns={"Life Ladder": "Score"
                     ,"country":"Country"
                     ,"year":"Year"
                     ,"Log GDP per capita":"GDP"
                     ,"Social support":"Social_s"
                     ,"Healthy life expectancy at birth":"Health"
                     ,"Positive affect":"Positive_a"
                     ,"Negative affect":"Negative_a"},inplace=True)

In [10]:
#Check data type.
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1344 entries, 0 to 1561
Data columns (total 8 columns):
Country       1344 non-null object
Year          1344 non-null int64
Score         1344 non-null float64
GDP           1317 non-null float64
Social_s      1333 non-null float64
Health        1335 non-null float64
Positive_a    1328 non-null float64
Negative_a    1334 non-null float64
dtypes: float64(6), int64(1), object(1)
memory usage: 94.5+ KB

In [11]:
#Check duplicated rows
data.duplicated().sum()

0

<p><span style="color: #fd7272;">Based on the small number of missing data I decided to drop it.</span></p>

In [12]:
#Number of missing value
data.isnull().sum()

Country        0
Year           0
Score          0
GDP           27
Social_s      11
Health         9
Positive_a    16
Negative_a    10
dtype: int64

In [13]:
data.dropna(axis=0, inplace=True)

In [14]:
data.isnull().sum()

Country       0
Year          0
Score         0
GDP           0
Social_s      0
Health        0
Positive_a    0
Negative_a    0
dtype: int64

In [15]:
#Number of rows
data.shape[0]

1301

In [16]:
data.isnull().values.sum()

0

In [17]:
# Number of cuntry name
data.Country.nunique()

158

In [18]:
#I need continent column as categorical variables in my dataset so I want to fill my data by using another dataset
# https://github.com/lukes/ISO-3166-Countries-with-Regional-Codes

#Add Continent column 
data['Continent'] = '-'

In [19]:
data.shape

(1301, 9)

In [20]:
# Another set have countries information
country = pd.read_csv('all.csv')
country.head()

,name,alpha-2,alpha-3,country-code,iso_3166-2,region,sub-region,intermediate-region,region-code,sub-region-code,intermediate-region-code
0,Afghanistan,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,NaN,142.0,34.0,NaN
1,Åland Islands,AX,ALA,248,ISO 3166-2:AX,Europe,Northern Europe,NaN,150.0,154.0,NaN
2,Albania,AL,ALB,8,ISO 3166-2:AL,Europe,Southern Europe,NaN,150.0,39.0,NaN
3,Algeria,DZ,DZA,12,ISO 3166-2:DZ,Africa,Northern Africa,NaN,2.0,15.0,NaN
4,American Samoa,AS,ASM,16,ISO 3166-2:AS,Oceania,Polynesia,NaN,9.0,61.0,NaN

In [21]:
#drop unnecessary columns
country.drop(['country-code','alpha-2','alpha-3','iso_3166-2','sub-region','intermediate-region','region-code','sub-region-code','intermediate-region-code'], axis=1,inplace=True)

In [22]:
country.head()

             name   region
0     Afghanistan     Asia
1   Åland Islands   Europe
2         Albania   Europe
3         Algeria   Africa
4  American Samoa  Oceania

In [23]:
# Region name
country.region.unique()

array(['Asia', 'Europe', 'Africa', 'Oceania', 'Americas', nan],
      dtype=object)

In [24]:
# The region column contain null value so I will drop it
country.dropna(axis=0,inplace=True)
country.region.unique()

array(['Asia', 'Europe', 'Africa', 'Oceania', 'Americas'], dtype=object)

In [25]:
#Create a df of each region to fill it in our data.
Asia = country.query("region == 'Asia'")
Europe = country.query("region == 'Europe'")
Africa = country.query("region == 'Africa'")
Oceania = country.query("region == 'Oceania'")

In [26]:
# Keep in mind this list is contained both north and south America countries
Americas = country.query("region == 'Americas'")
Americas.name.unique()

array(['Anguilla', 'Antigua and Barbuda', 'Argentina', 'Aruba', 'Bahamas',
       'Barbados', 'Belize', 'Bermuda',
       'Bolivia (Plurinational State of)',
       'Bonaire, Sint Eustatius and Saba', 'Bouvet Island', 'Brazil',
       'Canada', 'Cayman Islands', 'Chile', 'Colombia', 'Costa Rica',
       'Cuba', 'Curaçao', 'Dominica', 'Dominican Republic', 'Ecuador',
       'El Salvador', 'Falkland Islands (Malvinas)', 'French Guiana',
       'Greenland', 'Grenada', 'Guadeloupe', 'Guatemala', 'Guyana',
       'Haiti', 'Honduras', 'Jamaica', 'Martinique', 'Mexico',
       'Montserrat', 'Nicaragua', 'Panama', 'Paraguay', 'Peru',
       'Puerto Rico', 'Saint Barthélemy', 'Saint Kitts and Nevis',
       'Saint Lucia', 'Saint Martin (French part)',
       'Saint Pierre and Miquelon', 'Saint Vincent and the Grenadines',
       'Sint Maarten (Dutch part)',
       'South Georgia and the South Sandwich Islands', 'Suriname',
       'Trinidad and Tobago', 'Turks and Caicos Islands',
       'United States of America', 'Uruguay',
       'Venezuela (Bolivarian Republic of)', 'Virgin Islands (British)',
       'Virgin Islands (U.S.)'], dtype=object)

In [27]:
# This function fill region name based on the argument contains the list of countries in each continent.
def fill_region(df,r_set,r_name):
    df[df.Country.isin(r_set) == True] = df.replace('-',r_name)

In [30]:
#create a list of each region
fill_region(data,Asia.name,"Asia")
fill_region(data,Europe.name,"Europe")
fill_region(data,Africa.name,"Africa")
fill_region(data,Americas.name,"South America")
fill_region(data,Oceania.name,"Oceania")

In [31]:
data.head(10)

,Country,Year,Score,GDP,Social_s,Health,Positive_a,Negative_a,Continent
0,Afghanistan,2008,3.723590,7.168690,0.450662,49.209663,0.517637,0.258195,Asia
1,Afghanistan,2009,4.401778,7.333790,0.552308,49.624432,0.583926,0.237092,Asia
2,Afghanistan,2010,4.758381,7.386629,0.539075,50.008961,0.618265,0.275324,Asia
3,Afghanistan,2011,3.831719,7.415019,0.521104,50.367298,0.611387,0.267175,Asia
4,Afghanistan,2012,3.782938,7.517126,0.520637,50.709263,0.710385,0.267919,Asia
5,Afghanistan,2013,3.572100,7.503376,0.483552,51.042980,0.620585,0.273328,Asia
6,Afghanistan,2014,3.130896,7.484583,0.525568,51.370525,0.531691,0.374861,Asia
7,Afghanistan,2015,3.982855,7.466215,0.528597,51.693527,0.553553,0.339276,Asia
8,Afghanistan,2016,4.220169,7.461401,0.559072,52.016529,0.564953,0.348332,Asia
9,Afghanistan,2017,2.661718,7.460144,0.490880,52.339527,0.496349,0.371326,Asia

In [33]:
# List of North America countries
# https://www.countries-ofthe-world.com/countries-of-north-america.html

Nouth_America = ['Antigua and Barbuda'
                 ,'Bahamas','Barbados'
                 ,'Belize'
                 ,'Canada'
                 ,'Costa Rica'
                 ,'Cuba'
                 ,'Dominica'
                 ,'Dominican Republic'
                 ,'El Salvador'
                 ,'Grenada'
                 ,'Guatemala'
                 ,'Haiti'
                 ,'Honduras'
                 ,'Jamaica'
                 ,'Mexico'
                 ,'Nicaragua'
                 ,'Panama'
                 ,'Saint Kitts and Nevis'
                 ,'Saint Lucia'
                 ,'Saint Vincent and the Grenadines'
                 ,'Trinidad and Tobago']

In [34]:
data[data.Country.isin(Nouth_America) == True] = data.replace('South America','North America')

In [35]:
# One thing to done this stage
#in our data US named as (United States) and another data name (United States of America) 
US = ['United States']
fill_region(data,US,"North America")

In [36]:
#Check if it works
north_a = data.query("Continent == 'North America'")
north_a.Country.unique()

array(['Belize', 'Canada', 'Costa Rica', 'Dominican Republic',
       'El Salvador', 'Guatemala', 'Haiti', 'Honduras', 'Jamaica',
       'Mexico', 'Nicaragua', 'Panama', 'Trinidad and Tobago',
       'United States'], dtype=object)

In [37]:
#Now we completed filling our data with another data but it still needs a check if there are missing data in the column 
nan = data.query("Continent == '-'")
nan.Country.nunique()

21

In [38]:
#We need to fill this 23 countries with right continent
nan.Country.unique()

array(['Bolivia', 'Congo (Brazzaville)', 'Congo (Kinshasa)',
       'Czech Republic', 'Hong Kong S.A.R. of China', 'Iran',
       'Ivory Coast', 'Kosovo', 'Laos', 'Macedonia', 'Moldova',
       'Palestinian Territories', 'Russia', 'South Korea', 'Swaziland',
       'Syria', 'Taiwan Province of China', 'Tanzania', 'United Kingdom',
       'Venezuela', 'Vietnam'], dtype=object)

In [39]:
# Filtered it manually
Asia2 = ['Hong Kong S.A.R. of China','Iran','Laos','Palestinian Territories','Russia','South Korea','Syria','Taiwan Province of China','Vietnam']

Europe2 = ['Czech Republic','Kosovo','Macedonia','Moldova','North Cyprus','United Kingdom']

Africa2 = ['Congo (Brazzaville)','Congo (Kinshasa)','Ivory Coast','Tanzania','Swaziland','Somaliland region']

South_America = ['Bolivia','Venezuela']

In [40]:
data["Continent"].unique()

array(['Asia', 'Europe', 'Africa', 'South America', 'Oceania',
       'North America', '-'], dtype=object)

In [41]:
fill_region(data,Asia2,"Asia")
fill_region(data,Europe2,"Europe")
fill_region(data,Africa2,"Africa")
fill_region(data,South_America,"South America")

In [42]:
#number of rows have null value
nan = data.query("Continent == '-'")
nan.shape[0]

0

In [43]:
# Extract the data
data.to_csv('cleaned_data.csv')